{% extends "backend/show-base.html" %}

{% block extra-css %}
    <style type="text/css">
        .content-body {
            width: 50%;

            margin: auto;
        }
    </style>
{% endblock %}

{% block content-body %}
    {% csrf_token %}
    <div class="content-body">
        <table class="table table-bordered">
            <p>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addPermissionModal">添加权限
                </button>
            </p>
            <thead>
            <tr>
                {% for f in permission_fields %}
                    <th>{{ f.name }}</th>
                {% endfor %}
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for p in permission_list %}
                <tr>
                    {% for k,v in p.items %}
                        {% if k == "action" %}
                            {% for a in action_choices %}
                                {% if v == a.0 %}
                                    <td>{{ a.1 }}</td>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <td>{{ v }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>
                        <a class="btn btn-info btn-xs">修改</a>
                        <a class="btn btn-danger btn-xs">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="addPermissionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">添加权限</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputName">权限名</label>
                        <input type="text" class="form-control" id="inputName" placeholder="权限名">
                    </div>
                    <div class="form-group">
                        <label for="inputUrlName">url_name</label>
                        <input type="text" class="form-control" id="inputUrlName" placeholder="url_name">
                    </div>
                    <div class="form-group">
                        <label for="inputAction">action</label>
                        <select class="form-control" id="inputAction">
                            {% for a in action_choices %}
                                <option value="{{ a.0 }}">{{ a.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <span style="color: red" id="addErrorMsg"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-success" id="btnAddForum">添加</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $("#inputAction").selectIndex=0;
            $('#addPermissionModal').on('hidden.bs.modal', function (e) {
                $("#inputName").val("");
                $("#inputUrlName").val("");
                $("#inputAction").val("");
                $("#addErrorMsg").text("");
            });
            $("#btnAddForum").click(function () {
                addPermission();
            });
        });

        function addPermission() {
            var name = $("#inputName").val();
            var urlName = $("#inputUrlName").val();
            var action = $("#inputAction").val();
            var csrfToken = $("input[name='csrfmiddlewaretoken']").val();
            if (name && urlName && action) {
                $.ajax({
                    url: "{% url "backend:permission" %}",
                    method: "post",
                    data: {"name": name, "urlName": urlName, "action":action, "csrfmiddlewaretoken": csrfToken},
                    dataType: "json",
                    success: function (res) {
                        if (res["status"]) {
                            window.location.reload();
                        } else {
                            $("#addErrorMsg").text(res["msg"]);
                        }
                    },
                });
            } else {
                $("#addErrorMsg").text("内容不能为空");
            }
        }

    </script>

{% endblock %}